<section id="about" class="section-about">
  <h2>À PROPOS</h2>
  <div class="about-container">
    <div class="about-text">
      <h3>Ingénieur en Data Science diplômé de CY-Tech,<br>passionné par l’analyse de données, l’automatisation et le machine learning</h3>
      <p>
        Spécialisé en Python, SQL et Power BI, je conçois des modèles prédictifs et des dashboards interactifs,
        en m’adaptant aux besoins métier et opérationnels pour fournir des analyses pertinentes et actionnables.
      </p>
      <div class="about-contact">
        <div>
          <strong>Phone</strong><br>
          <span>06 95 54 38 86</span>
        </div>
        <div>
          <strong>Email</strong><br>
          <span>abdelah.elharsal@gmail.com</span>
        </div>
      </div>
    </div>
    <div class="about-photo">
      <img src="/assets/images/photo.jpg" alt="Abdelah El Harsal">
    </div>
  </div>
</section>
