<section id="contact" class="section">
  <h2 class="section-title">CONTACTEZ-MOI</h2>
  <div class="container-contact">
    <div class="form-contact">
      <form method="POST" action="https://formspree.io/f/mzzvdwgd">
        <input type="text" name="name" placeholder="Nom*" required />
        <input type="email" name="email" placeholder="Email*" required />
        <input type="text" name="subject" placeholder="Objet*" required />
        <textarea name="message" placeholder="Message*" rows="6" required></textarea>
        <button type="submit">Envoyer</button>
      </form>
    </div>
    <div class="info-contact">
      <h3>Abdelah EL HARSAL</h3>
      <p>Data Scientist / Analyst</p>
      <p><strong>Téléphone :</strong> +33 6 XX XX XX XX</p>
      <p><strong>Email :</strong> abdelah.elharsal@gmail.com</p>
      <p><strong>Site :</strong> https://abdel95j.github.io</p>
    </div>
  </div>
</section>
