<section id="formation" class="section section-alt">
  <h2 class="section-title">FORMATION</h2>
  <div class="timeline" data-aos="fade-up">

    <!-- Formation 1 -->
    <div class="container left">
      <div class="content">
        <h3>2024 – 2027<br><span class="job-title">CYCLE INGÉNIEUR – SPÉCIALITÉ INFORMATIQUE</span></h3>
        <p>
          <strong>CY Tech</strong><br>Cergy, France<br>
          Java IHM, Dev Web, Projet C, Analyse Orientée Objet, Génie Logiciel.<br>
          <em>Spécialités possibles :</em> Cybersécurité, Cloud Computing, Informatique embarquée, Intelligence Artificielle, Visual Computing.
        </p>
      </div>
    </div>

    <!-- Formation 2 -->
    <div class="container right">
      <div class="content">
        <h3>2022 – 2024<br><span class="job-title">CYCLE PRÉPA INTÉGRÉE – INFORMATIQUE & MATHÉMATIQUES</span></h3>
        <p>
          <strong>CY Tech</strong><br>Cergy, France<br>
          Langage C, Pseudo-code, Commandes Unix, Script Shells, HTML, CSS, JavaScript, PHP, SQL.
        </p>
      </div>
    </div>

    <!-- Formation 3 -->
    <div class="container left">
      <div class="content">
        <h3>Juin 2022<br><span class="job-title">BACCALAURÉAT GÉNÉRAL – MENTION BIEN</span></h3>
        <p>
          <strong>Lycée de l’Hautil</strong><br>Jouy-le-Moutier, France<br>
          Section européenne (Anglais).
        </p>
      </div>
    </div>

  </div>
</section>