<section id="formation" class="section section-alt">
  <h2 class="section-title">FORMATION</h2>

  <div class="section-content" data-aos="fade-up">
    <div class="timeline-item">
      <h3>2024 – 2027</h3>
      <h4 class="job-title">CYCLE INGÉNIEUR – SPÉCIALITÉ INFORMATIQUE</h4>
      <p>
        <strong>CY Tech</strong><br>Cergy, France<br>
        Java IHM, Dev Web, Projet C, Analyse Orientée Objet, Génie Logiciel.<br>
        <em>Spécialités possibles :</em> Cybersécurité, Cloud Computing, Informatique embarquée, Intelligence Artificielle, Visual Computing.
      </p>
    </div>

    <div class="timeline-item">
      <h3>2022 – 2024</h3>
      <h4 class="job-title">CYCLE PRÉPA INTÉGRÉE – INFORMATIQUE & MATHÉMATIQUES</h4>
      <p>
        <strong>CY Tech</strong><br>Cergy, France<br>
        Langage C, Pseudo-code, Commandes Unix, Script Shells, HTML, CSS, JavaScript, PHP, SQL.
      </p>
    </div>

    <div class="timeline-item">
      <h3>Juin 2022</h3>
      <h4 class="job-title">BACCALAURÉAT GÉNÉRAL – MENTION BIEN</h4>
      <p>
        <strong>Lycée de l’Hautil</strong><br>Jouy-le-Moutier, France<br>
        Section européenne (Anglais).
      </p>
    </div>
  </div>
</section>
