<section id="projets" class="section-projets">
  <h2>PROJETS</h2>
  <div class="grid-projets" data-aos="fade-up">

    <!-- C-Pokemon -->
    <a href="https://github.com/abdel95j/C-pokemon" class="projet-item" target="_blank">
      <img src="/assets/images/c-pokemon.png" alt="C-Pokemon">
      <div class="overlay">
        <div class="text">
          Jeu en terminal développé en C inspiré de Pokémon : choix de starter, capture, inventaire, combats, évolution et ligue finale.
        </div>
      </div>
    </a>

    <!-- Cy-Truck -->
    <a href="https://github.com/abdel95j/Cy-truck" class="projet-item" target="_blank">
      <img src="/assets/images/cy-truck.png" alt="Cy-Truck">
      <div class="overlay">
        <div class="text">
          Simulation d’une chaîne logistique avec affectation dynamique de camions, optimisations des trajets et contraintes de livraison.
        </div>
      </div>
    </a>

    <!-- Cy-Trip -->
    <a href="https://github.com/abdel95j/cy-trip" class="projet-item" target="_blank">
      <img src="/assets/images/cy-trip.png" alt="Cy-Trip">
      <div class="overlay">
        <div class="text">
          Application web interactive de voyages : carte du monde, pages pays, avis utilisateurs, likes, connexion et espace membre.
        </div>
      </div>
    </a>

    <!-- Cy-Draw -->
    <a href="https://github.com/abdel95j/CYDraw-" class="projet-item" target="_blank">
      <img src="/assets/images/cy-draw.png" alt="Cy-Draw">
      <div class="overlay">
        <div class="text">
          IDE graphique basé sur un langage personnalisé, générant du C avec SDL2 pour dessiner et animer des formes depuis un script.
        </div>
      </div>
    </a>

  </div>
</section>
