<section id="projets" class="section-projets" >
  <h2>PROJETS</h2>
  <div class="grid-projets" data-aos="fade-up">

    <a href="https://github.com/abdel95j/C-pokemon" class="projet-item" target="_blank">
      <img src="/assets/images/c-pokemon.png" alt="C-Pokemon">
      <div class="overlay">
        <div class="text">C-POKEMON</div>
      </div>
    </a>

    <a href="https://github.com/abdel95j/Cy-truck" class="projet-item" target="_blank">
      <img src="/assets/images/cy-truck.png" alt="Cy-Truck">
      <div class="overlay">
        <div class="text">CY-TRUCK</div>
      </div>
    </a>

    <a href="https://github.com/abdel95j/cy-trip" class="projet-item" target="_blank">
      <img src="/assets/images/cy-trip.png" alt="Cy-Trip">
      <div class="overlay">
        <div class="text">CY-TRIP</div>
      </div>
    </a>

    <a href="https://github.com/abdel95j/CYDraw-" class="projet-item" target="_blank">
      <img src="/assets/images/cy-draw.png" alt="Cy-Draw">
      <div class="overlay">
        <div class="text">CY-DRAW</div>
      </div>
    </a>

  </div>
</section>
