<section id="competences" class="section-competences">
  <h2>COMPÉTENCES</h2>
  <div class="skills-grid" data-aos="fade-up">
    <div class="skill-item"><img src="{{ site.baseurl }}/assets/images/c.png" alt="Langage C"></div>
    <div class="skill-item"><img src="{{ site.baseurl }}/assets/images/python.png" alt="Python"></div>
    <div class="skill-item"><img src="{{ site.baseurl }}/assets/images/java.png" alt="Java"></div>
    <div class="skill-item"><img src="{{ site.baseurl }}/assets/images/r.png" alt="R"></div>
    <div class="skill-item"><img src="{{ site.baseurl }}/assets/images/html.png" alt="HTML"></div>
    <div class="skill-item"><img src="{{ site.baseurl }}/assets/images/css.png" alt="CSS"></div>
    <div class="skill-item"><img src="{{ site.baseurl }}/assets/images/php.png" alt="PHP"></div>
    <div class="skill-item"><img src="{{ site.baseurl }}/assets/images/javascript.png" alt="JavaScript"></div>
    <div class="skill-item"><img src="{{ site.baseurl }}/assets/images/sql.png" alt="SQL"></div>
    <div class="skill-item"><img src="{{ site.baseurl }}/assets/images/vmware.png" alt="VMware ESXi"></div>
    <div class="skill-item"><img src="{{ site.baseurl }}/assets/images/office365.png" alt="Office 365"></div>
  </div>
</section>
